* {
  box-sizing: border-box;
}

#game-wrapper {

}

.game {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/*  */

.game-info {
  border: 1px solid black;
  position: relative;
}

.game-info-content {
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  */

.game-board {
  position: relative;
}

.game-grid {
  display: flex;
  flex-direction: column;
}

.game-grid .row {
  display: flex;
  flex-direction: row;
}

.chunk {
  position: absolute;
  background-color: green;
}

table {
  /* border-collapse: collapse  */
}

.sky {
  background: blue;
}